<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BusSchedulesWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>NextBusWidgetExtension.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>bus_time_scheduler.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>bus_time_schedulerTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1B4A5BDC2D3B676C00CA54A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD3AEF82D3776CE0040DCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD3AF0E2D3776D00040DCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD3AF182D3776D00040DCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1BD3AF552D37AB020040DCD6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
